html, body {
  padding: 0;
  margin: 0;
  height: 100%;
  overflow: hidden;
}

body {
  font-family: -apple-system, "Helvetica Neue", Helvetica, sans-serif;
	background-color: #4e60ff;
	
}
.titlebar {
	height: 30px;
	position: absolute;
	top: 0;
	left: 0;
	width: 100%;
	color: red;
	
}
.message {
  position: absolute;
  width: 500px;
  height: 250px;
  top: 50%;
  left: 50%;
  color: #fff;
  font-weight: 200;
  text-align: center;
  margin-top: -125px;
  margin-left: -250px;
}

.message h1 {
  font-size: 50px;
  font-weight: 100;
  color: #fff;
}

.message div {
  margin-bottom: 10px;
}
